<!DOCTYPE html>
<html lang="en">

<head>
	<title>Add New Entry Page</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    {{!-- My CSS  --}}
	<link href="css/addNewEntry.css" rel="stylesheet">
    <style>
    
    </style>

    {{!-- JS support for giving star rating --}}
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
</head>

<body>
    <div class="parent">
        <div class="left">
            {{!-- back to main page index.handlebars arrow  --}}
            <img src="css/pics/back-arrow.png" onclick="location.href='./'" alt="back (to main page) arrow" height="30px" width="30px">
        </div>
        <p class="center">New Expense</p>
        <div class="right"></div>
    </div>
    
    <main>
        {{!-- Name of Spending--}}
        <label for="name">Name</label> <br>
        <input type="text" id="name" name="name" placeholder="pizza,T-shirt,laptop,..." required autofocus> 

        {{!-- Drop-down list of current categories --}}
        <label for="categories">Category</label> <br>
        {{!-- <input list="categories" id="category" name="category" placeholder="New Category?"> --}}
        <select id="categories" name="category">
            <option value="Food/Drink">Food/Drink</option>
            <option value="Clothings">Clothings</option>
            <option value="Fitness">Fitness</option>
            <option value="Study">Study</option>
            <option value="Electronics">Electronics</option>
        </select>
        {{!-- <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select> --}}

        {{!-- Amount --}}
        <label for="amount">Amount</label> <br>
        <input type="number" step="any" id="amount" name="amount" placeholder="e.g., $5.06; up to 20k" min="0" max="20000" required> <br>

        <label for="rating">Rating</label> <br>
    </main>

    {{!-- Rating --}}
    <form id="rating"
        method="post"
        action-xhr="https://amp.dev/documentation/examples/interactivity-dynamic-content/star_rating/set"
        target="_blank">
        <fieldset class="rating">
            <input name="rating"
            type="radio"
            id="rating5"
            value="5"
            on="change:rating.submit">
            <label for="rating5" title="5 stars">☆</label>

            <input name="rating"
            type="radio"
            id="rating4"
            value="4"
            on="change:rating.submit">
            <label for="rating4" title="4 stars">☆</label>

            <input name="rating"
            type="radio"
            id="rating3"
            value="3"
            on="change:rating.submit">
            <label for="rating3" title="3 stars">☆</label>

            <input name="rating"
            type="radio"
            id="rating2"
            value="2"
            on="change:rating.submit"
            checked="checked">
            <label for="rating2" title="2 stars">☆</label>

            <input name="rating"
            type="radio"
            id="rating1"
            value="1"
            on="change:rating.submit">
            <label for="rating1" title="1 stars">☆</label>
        </fieldset>
        <div submit-success>
            <template type="amp-mustache">
            <p>Thanks for rating {{rating}} star(s)!</p>
            </template>
        </div>
        <div submit-error>
            <template type="amp-mustache">
                Looks like something went wrong. Please try to rate again. {{error}}
            </template>
        </div>
    </form>
    <br>

    {{!-- "submit" button  --}}
    <input type="submit" value="Add" class="addNewEntryBtn" style="margin-left: 30%; margin-right: 24%;">
    {{!-- Cancel button  --}}
    <button class="addNewEntryBtn">Cancel</button>
</body>

</html>