<!DOCTYPE html>
<html lang="en">

<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	{{!-- My CSS  --}}
	<link href="/css/budget.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="css/pics/back-arrow.png" onclick="location.href='./home'" alt="back (to main page) arrow" height="30px" width="30px">
            </div>
            <p class="center">Budgets</p>
            <div class="right"></div>
        </div>


		<form id="newEntryForm" method="GET" action="./overHist"
		style="margin: 10px auto 20px;">
			{{#each this.cates-expenses}}
			<div class="each-budget">
				<div class="cate">{{@key}}</div>
				<div class="dollar">
					<input type="number" step="any" name="budget{{@index}}" id="budget{{@index}}"
					placeholder="up to 40k" min="0" max="40000">
				</div>			
			</div>
			{{/each}}
		</form>

		{{!-- "submit" button  --}}
		<input type="submit" value="Add" class="budgetBtn" style="float: left;"
		form="newEntryForm" onclick="setNewBudgets()">
		{{!-- Cancel button  --}}
		<button class="budgetBtn" style="float: right;" onclick="resetAll()">Reset</button>
	</div>
	
	<script>
		function resetAll() {
			location.reload(); 
			{{!-- console.log("Reset!"); --}}
			{{!-- alert("reset!"); --}}
		}

		function setNewBudgets() {
			alert("Work in Progress!");
		}

		$(document).ready(function() {
			$("#budget0").focus();
		})
	</script>
</body>

</html>