<!DOCTYPE html>
<html lang="en">

<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	{{!-- My CSS  --}}
	<link href="/css/help.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	
	<div class="container">
		<div class="parent">
			<div class="left">
				{{!-- back to main page index.handlebars arrow  --}}
				<img src="/css/pics/back-arrow.png" onclick="location.href='./home'" alt="back to main page arrow">
			</div>
			<p class="center">Overview</p>
			<div class="right"></div>
		</div>

		<div class="content" 
		style="margin-top: 65px; overflow:scroll; height: 750px;">
			<h1>What does this app do?</h1>

			<h2>Your pet</h2>
			<img src="/css/pics/pet.jpeg" id="pet_img">
			<p>
				Remember the pet you named when you first entered the app? Each time you track your spending, the app rewards you with a treat to feed. Feed your pet and see what happens!
			</p>

			<h2>Track spending</h2>
			<img src="/css/pics/star.png" id="star_img">
			<p>
				Track your spending by clicking on "new entry". Fill it out and it would be reflected on the "Overview & History" page.
			</p>

			<h2>Self reflect by rating each expenses</h2>
			<img src="/css/pics/entry.png" id="entry_img">
			<p>
				When entering a new entry, reflect on that entry and give it a rating at the very bottom. Do you really need it? Was it an impulsive dicision?
			</p>
		</div>
		
	</div>

</body>

</html>