
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Main Navigation Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	{{!-- <link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet"> --}}

	{{!-- My CSS  --}}
	<link href="css/home.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery-latest.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/feed.js"></script>
	<script>
		/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementsByClassName("dropdown-content")[0].classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
		window.onclick = function(e) {
			if (!e.target.matches('.dropbtn')) {
				var myDropdown = document.getElementsByClassName("dropdown-content")[0];
				if (myDropdown.classList.contains('show')) {
					myDropdown.classList.remove('show');
				}
			}
		}
	</script>
</head>

<body>
	<div class="parent">
		<div class="left">
			<img src="/css/pics/back-arrow.png" onclick="location.href='./home'" alt="back to main page arrow">
		</div>
		<p class="center">U$pend</p>
		<div class="right dropdown">
			<button class="dropbtn">Setting
				<i class="fa fa-caret-down" style="display: inline-block;"></i>
			</button>
			<div class="dropdown-content">
				<a href="./home">Home</a>
				<a href="./profile">Profile</a>
				<a href="./help">Help</a>
				<a href="./">Logout</a>
			</div>
		</div>
    </div>

	{{!-- bg pic  --}}
	<div class="bg_img">
		<p style="font-size: 18px; padding: 10px 15px 10px";> Track your everyday spending and win gifts! <p>

		<div class="btn">
			<button id="addNewEntry" onclick="location.href='./addNewEntry'">Add new entry</button>
			<button id="overHist" onclick="location.href='./overHist'">Overview & History</button>
			<button id="budget" onclick="location.href='./budget'">Budget</button>
			<button id="help" onclick="location.href='./help'">Help</button>
		</div>
			
		<p style="font-size: 20px; margin: 5px auto;"> "Foxy Doggy"<p></p>

		<div class="container_img">
			<img src="css/pics/dog.gif" id="pet_img" alt="Pet Image" width="100%" height="200px" style="display: block;">
			<div class="overlay">
				<div class="text">Click to feed me!</div>
 			</div>
		</div>
		
		<div class="feedBurger">
			<div id="burger_img">
				<img src="css/pics/burger.png" alt="Burger Image" height="35px" width="35px">
			</div>
 			<div id="countBurger">
				<strong style="color:orange;">: {{burger_num}}</strong>
			</div>
		<div>

	</div>

</body>

</html>
