<!DOCTYPE html>
<html lang="en">

<head>
	<title>Main Navigation Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    {{!-- My CSS  --}}
	<link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="bg_img" style="overflow: scroll;">
		<p>Welcome to U$spend!</p>
		<p style="font-size: 18px;"> Track your everyday spending and win gifts! <p>
		<p style="font-size: 20px; margin-bottom: 20px;"> "Foxy Doggy"<p>
		<div class="container_img">
			<img src="css/pics/pet.jpeg" id="pet_img" alt="Pet Image" width="100%" height="250px" style="display: block;">
			<div class="overlay">
    			<div class="text">Feed me!</div>
 			</div>
		</div>
		
  		{{!-- <div class="pet"><p>Your pet</p ></div> --}}
		<div class="btn">
			<button id="overview" onclick="location.href='./overview'">Overview</button>
			<button id="addNewEntry" onclick="location.href='./addNewEntry'">Add new entry</button>
			<button id="Budget" onclick="location.href='./budget'">Budget</button>
			<button id="History" onclick="location.href='./history'">History</button>
		</div>
	</div>
	
</body>

</html>
