<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
    body {  
        font-family: Calibri, Helvetica, sans-serif;  
        background-image: url('/css/pics/bg1.jpg');
        {{!-- background-color: pink;   --}}
    }  
    h1 {
        margin-left: auto;
        margin-right: auto;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .container span {
        color: red;
    }
    form {   
        border: 3px solid #f1f1f1;   
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }   
    input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0 15px;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }   
    button {   
        background-color: #4CAF50;   
        width: 100%;  
        color: black;   
        padding: 15px;   
        margin: 15px 0px;   
        border: none;   
        cursor: pointer;   
        font-size: 16px;
        font-family: Calibri, Helvetica, sans-serif;
    }   
    button:hover {   
        opacity: 0.7;   
    }  
    .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 0px;  
    }   
                    
    .container {   
        padding: 25px;   
        background-color: rgb(173,216,230, 0.6);  
    }  
    #signUp {
        text-align: center;
        position: absolute;
        bottom: 60px;
        left: 0px;
        width: 100%;
    } 
</style>   
    <script src="https://code.jquery.com/jquery-latest.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head> 

<body>    
    <div style="text-align: center;">
        <h1>Login</h1>
    </div>

    <form action="./home">  
        <div class="container">   
            <label>Username <span>*</span> </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password <span>*</span> </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  

            <input type="checkbox"> Remember me  
             <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"
            style="display: inline-block; float:right;">
            {{!-- window.location='./home' --}}
            </fb:login-button>

            <button type="submit">Login</button>   
            <a href="#">Forgot password?</a>   
            <a href="./signup" style="float: right;">Sign up now!</a>
            {{!-- onclick="location.href='./' --}} 
            <button type="button" class="cancelbtn" onclick="resetAll()">Cancel</button>   
        </div>   
    </form>    

	<script>
		function resetAll() {
			location.reload(); 
		}
	</script> 

</body>     
</html>  