<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Sign Up Page </title>  
<style>   
    body {  
        font-family: Calibri, Helvetica, sans-serif;  
        background-image: url('/css/pics/home-screen-bulletins-BGIMG.jpg');
        background-repeat: repeat;
        /* Make the bg pic more transparent; texts more obvious */
        background-color: rgba(255,255,255, 0.2); 
        background-blend-mode: lighten;
    }  
    h1 {
        margin-left: auto;
        margin-right: auto;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .container span {
        color: red;
    }
    form {   
        border: 3px solid #f1f1f1;   
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }   
    input[type=text], input[type=password], input[type=email] {   
        width: 100%;   
        margin: 8px 0 15px;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }   
    button {   
        background-color: #4CAF50;   
        width: 100%;  
        color: black;   
        padding: 15px;   
        margin: 15px 0px;   
        border: none;   
        cursor: pointer;   
        font-size: 16px;
        font-family: Calibri, Helvetica, sans-serif;
    }   
    button:hover {   
        opacity: 0.7;   
    }  
    .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 0px;  
    }   
                    
    .container {   
        padding: 25px;   
        background-color: rgb(173,216,230, 0.6);  
    }  
</style>

	<script src="https://code.jquery.com/jquery-latest.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/signup_action.js"></script>
</head> 

<body>    
    <div style="text-align: center;">
        <h1>Sign Up</h1>
    </div>

    {{!-- action="./home" --}}
    <form id="register">  
        <div class="container">   
            {{!-- <label>Email <span>*</span> </label>   
            <input type="email" placeholder="Enter Email" name="email" required>   --}}
            <label for="username">Username <span>*</span> </label>   
            <input type="text" id="username" name="username" placeholder="Enter Username" required>  

            <label for="password">Password <span>*</span> </label>   
            <input type="password" id="password" name="password" placeholder="Enter Password" required>  

            <label for="conf-pw">Confirm Password <span>*</span> </label>   
            <input type="password" id="conf-pw" name="conf-pw" placeholder="Reenter Password" required>  

            <label>Pet Name (optional)</label>   
            <input type="text" pattern="[A-Za-z]*" id="petName" name="petName" placeholder="Only &quot;A-Z & a-z&quot;; max 12 characters" maxlength="12">  

            <button type="submit">Sign Up</button>   
            Already have an account? <a href="./">Login</a>
            {{!-- onclick="location.href='./' --}} 
            <button type="button" class="cancelbtn" onclick="resetAll()">Cancel</button>   
        </div>   
    </form>    

	<script>
		function resetAll() {
            $(" input[type=text], input[type=password] ").val("");
		}
	</script> 

</body>     
</html>  