.container {
    background-color: rgba(247, 237, 208, 0.75);
    /* #F7EDD0; */
	/* background-image: url("./pics/home-screen-bulletins-BGIMG.jpg");
    background-repeat: repeat-y;
    background-color: rgba(255,255,255, 0.4); 
    background-blend-mode: lighten; */
    margin-top: 59px;
    height: 760px;
}

.top_info input, .top_info select {
    display: block;
    /* margin: 0 auto; */
    width: 100%;
    height: 60px;
    font-size: 25px;
    margin-bottom: 8%;
	border: 2px solid #66b8ff;
    border-radius: 10px;
}

.top_info label {
	font-size: 18px
}

.top_info input:focus, .top_info select:focus {
	border-radius: 1px;
}

.dollar{
	/* display:inline-block; */
	position: relative;
}
.dollar input{
	padding-left: 20px;
}
.dollar:focus-within::before{
	position: absolute;
	content: "$";
	font-size: 25px;
	left: 5px;
	top: 12.5px;
}

/* main label{
    font-size: 25px;
    margin: 0 auto;
    width: 40%;
    text-align: left;
    display: block;  
} */


.addNewEntryBtn {
    width: 84px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

img#question-mark {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Rating CSS */
.rating {
    --star-size: 3;  /* use CSS variables to calculate dependent dimensions later */
    padding: 0;  /* to prevent flicker when mousing over padding */
    border: none;  /* to prevent flicker when mousing over border */
    unicode-bidi: bidi-override; direction: rtl;  /* for CSS-only style change on hover */
    text-align: left;  /* revert the RTL direction */
    user-select: none;  /* disable mouse/touch selection */
    font-size: 3em;  /* fallback - IE doesn't support CSS variables */
    font-size: calc(var(--star-size) * 1em);  /* because `var(--star-size)em` would be too good to be true */
    cursor: pointer;
    /* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 0.6em;
    margin-left: 0%;
}
/* the stars */
.rating > label {
    display: inline-block;
    position: relative;
    width: 1.1em;  /* magic number to overlap the radio buttons on top of the stars */
    width: calc(var(--star-size) / 3 * 1.1em);
}
.rating > *:hover,
.rating > *:hover ~ label,
.rating:not(:hover) > input:checked ~ label {
    color: transparent;  /* reveal the contour/white star from the HTML markup */
    cursor: inherit;  /* avoid a cursor transition from arrow/pointer to text selection */
}
.rating > *:hover:before,
.rating > *:hover ~ label:before,
.rating:not(:hover) > input:checked ~ label:before {
    content: "★";
    position: absolute;
    left: 0;
    color: gold;
}
.rating > input {
    position: relative;
    transform: scale(3);  /* make the radio buttons big; they don't inherit font-size */
    transform: scale(var(--star-size));
    /* the magic numbers below correlate with the font-size */
    top: -0.5em;  /* margin-top doesn't work */
    top: calc(var(--star-size) / 6 * -1em);
    margin-left: -2.5em;  /* overlap the radio buttons exactly under the stars */
    margin-left: calc(var(--star-size) / 6 * -5em);
    z-index: 2;  /* bring the button above the stars so it captures touches/clicks */
    opacity: 0;  /* comment to see where the radio buttons are */
    font-size: initial; /* reset to default */
}
form.amp-form-submit-error [submit-error] {
    color: red;
}

div#dialog, div#dialog-warning {
    width: 100% !important; 
    height: 75px; 
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}