.container {
    background-color: rgba(247, 237, 208, 0.75);
     /* #F7EDD0; */
	/* background-image: url("./pics/home-screen-bulletins-BGIMG.jpg");
    background-repeat: repeat-y;
    background-color: rgba(255,255,255, 0.2); 
    background-blend-mode: lighten; */
    margin-top: 59px;
    height: 760px;
}

.all-budgets {
    margin-top: 20px;
}

/* .budgetBtn {
    width: 84px;
    height: 60px;
    margin-top: 5;
    margin-bottom: 5;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #f0f8ff;
} */

.each-budget {
    margin: 0px auto 20px;
    display: flex;
    width: 100%;
    background-color: rgba(240,248,255, 0.8);
     /* #f0f8ff; */
    border: 2px solid #99cfff;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 0px 15px 4px;
}

/* .each-budget input {
    border: 2px solid green;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

.each-budget input:focus {
    border-radius: 1px;
} */

.dollar{
	/* display:inline-block; */
	position: relative;
}
.dollar input{
	padding-left: 20px;
}
.dollar:focus-within::before{
    position: absolute;
    content: "$";
    font-size: 20px;
    left: 5px;
    top: 12.5px;
}

.cate {
    /* font-size: 20px; */
    font-weight: bold;
    /* text-decoration: underline; */
    font-weight: bold;
    color: black;
    /* background-color: yellow; */
    margin-bottom: 0px;
    width: 42%;
}

.each-budget div {
    width: 40%;
}

.each-budget input {
    width: 100%;
}

#new-cate-btn {
    height: 60px;
    font-size: 20px;
    /* font-weight: bold; */
    background-color: #f0f8ff;
    border: 2px solid #99cfff;
    border-radius: 10px;
    margin: 20px auto 0;
    display: block;
    text-align: center;
}

.new-dialog * {
    display: block;
}

.new-dialog input {
    width: 100%; 
    height: 40px;
}


