.parent {
    display: flex;
  }
  
  .left,
  .right {
    flex: 1;
  }
  
  /* Styles for demonstration */
  .parent {
    padding: 5px;
    border: 2px solid #000;
  }
  .left,
  .right {
    padding: 3px;
    border: 2px solid red;
  }
  .center {
    margin: 0 3px;
    padding: 3px;
    border: 2px solid blue;
  }