.container {
	/* background-image: url("./pics/cate-BGIMGs/Default.png"); */
	background-repeat: repeat;
    /* background-color: rgba(255,255,255, 0.2); 
    background-blend-mode: lighten; */
	margin-top: 59px;
	height: 760px;
}

div.budget-spent {
	margin-top: 15px; 
	border: 2px solid #66b8ff; 
	border-radius: 5px; 
	background-color: rgba(240,248,255, 0.9);
	/* #f0f8ff; */
	padding:5px 0px;
}

.all-items{
  overflow: scroll;
  margin-top: 15px;
  height: fit-content;
  border: 2px solid #66b8ff;
  /* border-color: #ffcb91; */
  border-radius: 10px;
  padding: 10px 5px;
}

.all-items div.each-item:not(:last-of-type) {
	margin-bottom: 10px;
}

.each-item{
	display: inline-block;
	background-color: rgba(240,248,255, 0.9);
	 /* #f0f8ff; */
	border: 2px solid #66b8ff;
	border-radius: 10px;
	/* margin-bottom: 15px; */
	height: 70px;
	width: 100%;
	padding: 5px;
	line-height: 22pt;
}

.budget-spent {
	width: 100%;
	/* border: 2px solid; */
	display: flex;
}

.budget-spent div {
	display: inline-block;
	width: 50%;
	font-weight: bold;
	font-size: 18px;
}

.budget-spent a {
	text-decoration: underline;
}