
.container {
	background-image: url("./pics/home-screen-bulletins-BGIMG.jpg");
	background-repeat: repeat-y;
    /* Make the bg pic more transparent; texts more obvious */
    background-color: rgba(255,255,255, 0.5); 
    background-blend-mode: lighten;
	margin-top: 59px;
	height: 760px;
}

h1, h2, p{
	text-align: left;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1 {
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
	color: #264040;
	/* margin: 50px 50px 40px 50px; */
	margin: 0px 35px 30px;
}

h2 {
	font-family: monospace;
	font-size: 25px;
	color: #2f4f4f; 
	margin: 0px 35px 10px;
}

p {
	font-family: monospace;
	font-size: 18px;
	color: #000000;
	line-height: 1.5em;
	margin: 20px 35px 30px;
}

img#pet_img {
    height: 80px;
    width: 135px;
    position: relative;
    margin: 0px 35px 0px;
}

img#star_img {
    height: 75px;
    width: 190px;
    position: relative;
    margin: 0px 35px 0px;
}

img#entry_img {
    height: 65px;
    width: 150px;
    position: relative;
    margin: 5px 35px 0px;
}

.content {
	margin-top: 20px; 
	overflow:scroll; 
	height: 750px;
}