.bg_img{
    background-color: rgba(247, 237, 208, 0.75);
     /* #F7EDD0; */
    /* background-image: url(./pics/home-screen-bulletins-BGIMG.jpg);
    background-repeat: repeat;
    background-color: rgba(255,255,255, 0.6); 
    background-blend-mode: lighten; */
    position: static;
    width: 100%;
    height: 760px;
    align-items: center;
    margin-top: 59px;
    z-index: 1;
}

.bg_img p {
    font-size: 35px;
    font-family: monospace;
    /* text-shadow: 2px 2px  #ffefa1; */
    text-align: center;
	margin: 0px auto;
}

.btn{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; /* center all buttons */
    margin-right: auto;
    display: block;
    max-width: 900px;
}

.btn button{
    text-align: center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: auto;
    color: black; 
    background-color: #ffcb91;
    border: none;
    border-radius: 15px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    display: block;
}

/* Prevent double borders */
/* .btn button:not(:last-child) {
    border-bottom: none; 
} */

/* Shorter bottom margin for the last tab */
.btn button:last-child{
	margin-bottom: 10px;
}

.btn button:hover{
    background-color: lightgreen;
}

.btn button:focus {
  border-radius: 2px;
}

/* .pet {
    background-image: url("./pics/pet.jpeg");
    background-repeat: no-repeat;
    display: block;
    background-size: 380px;
    width: 380px;
    height: 300px;
    margin: 0 auto;
    text-indent: -9999999px;
    position: relative;
} */

.container_img{
    width: 80%;
    max-width: 400px;
    height: 200px;
    display: block;
    margin: 0px auto 5px; /* top, left/right, bottom */
}

img#pet_img {
    display: block;
    margin: 0px auto 0px;
}

div#burger_img {
    /* position: relative; */
    /* margin: 0px auto 0px; */
	/* display: inline-block;  */
	height: 35px; 
	width: 35px;
}

div#countBurger {
	/* display: inline-block;  */
	font-size: 27px; 
	height: 35px;
	/* flex: 1; */
	padding-top: 0px;
	margin-left: 5px;
}

.feedBurger {
	height: 35px;
	width:100%;
	/* text-align: center; */
	align-items: center;
	justify-content: center;
	margin: 5px auto 5px;
	display: flex;
	flex-wrap: wrap;
}

/* .feed {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} */

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -200px;
    bottom: -200px;
    left: 0;
    right: 0;
    height: 200px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffcb91;  
    /* #3caa40; */
}

.overlay .text {
    color: black;
    font-size: 30px;
    font-family: monospace;
    position: static;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
}

/* .container_img:hover .overlay {
    opacity: 0.75 !important;
} */