.container {
    background-color: rgba(247, 237, 208, 0.75);
    /* #F7EDD0; */
	/* background-image: url("./pics/home-screen-bulletins-BGIMG.jpg");
    background-repeat: repeat;
    background-color: rgba(255,255,255, 0.4); 
    background-blend-mode: lighten; */
    margin-top: 59px;
    /* position: fixed;
    right: 0px;
    left: 0px; */
}

div#overview {
    height: 100%;
}

div#history {
    height: 760px;
}

p#above-all-cates {
    font-size: 18px; 
    font-weight: bold; 
    margin: 15px 0px 5px;
    width: fit-content;
    display: inline-block;
}

img#question-mark {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.all-cates {
    /* position: relative;
    bottom: 60px;
    right: 15px;
    left: 15px; */
    height: auto;
    overflow: scroll;
    margin: 0px auto 60px;
    border: 2px solid;
    border-color: #66b8ff;
    border-radius: 10px;
    padding: 10px 5px 0px;
}

.each-cate{
    /* display: flex; */
    /* align-items: center; */
    height: 50px;
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    margin: 0px auto 10px;  /* Center all tabs */
    background-color: #f0f8ff;
    border: 2px solid;
    border-color: #66b8ff;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.each-cate:hover {
    background-color: lightgreen;
}

.each-cate p{
    /* flex: 1; */
    /* align-self: center; */
    height: 100%;
    display: inline-block;
    padding-top: 11px;
    margin: 0px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: auto;
    text-align: left;
}

.each-cate img{
    /* flex: 1; */
    height: 30px;
    width: 30px;
    margin: 8px 15px 8px auto;
    /* transform: rotate(180deg); */
    float: right;
}

.each-cate div.progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    opacity: 0.5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* z-index: -1; */
}

div.piechart {
    border: 2px solid;
    border-color: #66b8ff;
    border-radius: 10px;
    margin-top: 15px;
    height: fit-content;
    width: 100%;
    /* right: 15px;
    left: 15px;
    position: fixed; */
}

div#piechart_title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

div#piechart {
    width: 100%;
    height: 320px; 
}

.all-items{
    overflow: scroll;
    margin-top: 15px;
    height: fit-content;
    border: 2px solid #66b8ff;
    /* border-color: #ffcb91; */
    border-radius: 10px;
    padding: 10px 5px;
}
.each-item{
    display: block;
    background-color: #f0f8ff;
    /* rgba(240,248,255, 0.8); */
    border: 2px solid;
    border-color: #66b8ff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
}

.all-items div.each-item:last-child {
    margin-bottom: 0;
}

.tab_bar{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #ffcb91;
}

.tab_bar button {
    flex: 1;
    font-size: 18px;
    border: 2px solid;
    border-color: #66b8ff;
    background-color: #ffcb91;
}

/* img#toArrow {
    margin; 0px 5px 0px 100px;
    height: 20px; 
    width: 20px;
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
} */

