body {
	background-image: url("./pics/bg1.jpg");
}

.parent {
    display: flex;
    position: fixed;
	right: 15px;
	top: 0px;
	left: 15px;
}
  
.left,
.right {
    flex: 1;
}

.left img{
    margin: 15px auto auto 0px; /* top, right, bottom, left */
    position: absolute;
    height: 30px;
    width: 30px;
}

p.center {
    width: fit-content;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}

 /* Styles for demonstration */
  /* .parent {
    padding: 5px;
    border: 2px solid #000;
  }
  .left,
  .right {
    padding: 3px;
    border: 2px solid red;
  }
  .center {
    margin: 0 3px;
    padding: 3px;
    border: 2px solid blue;
  } */

.all-cates {
    height: 300px;
    overflow: scroll;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid  rgb(13, 97, 13);
    border-radius: 10px;
    padding: 10px 5px 0px;
}

.each-cate{
    /* display: flex; */
    /* align-items: center; */
    height: 50px;
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    margin: 0px auto 10px;  /* Center all tabs */
    border: 2px solid rgb(13, 97, 13);
    border-radius: 10px;
    cursor: pointer;
    /* background-color: salmon; */
}

.each-cate:hover {
    background-color: lightgreen;
}

.each-cate div{
    /* flex: 1; */
    /* align-self: center; */
    height: 100%;
    display: inline-block;
    padding-top: 11px;
    margin: 0px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: auto;
    text-align: left;
}

.each-cate img{
    /* flex: 1; */
    height: 30px;
    width: 30px;
    margin: 8px 15px 8px auto;
    /* transform: rotate(180deg); */
    float: right;
}

.all-items{
    overflow: scroll;
    margin-top: 65px;
    height: 700px;
    /* border: 2px solid; */
}
.each-item{
    display: block;
    border: 2px solid rgb(13, 97, 13);
    border-radius: 10px;
    margin-bottom: 15px;
}

.tab_bar{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.tab_bar button {
    flex: 1;
    font-size: 18px;
    border: 2px solid rgb(13, 97, 13);
}