.all-cates {
    height: 40%;
    overflow: scroll;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    ;
}

.each-cate{
    /* display: flex; */
    /* align-items: center; */
    height: 50px;
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    margin: 10px auto 10px;  /* Center all tabs */
    border: 2px solid rgb(13, 97, 13);
    border-radius: 10px;
    cursor: pointer;
}

.each-cate div{
    /* flex: 1; */
    /* align-self: center; */
    height: 100%;
    display: inline-block;
    padding-top: 11px;
    margin: 0px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: auto;
    text-align: left;
}

.each-cate img{
    /* flex: 1; */
    height: 30px;
    width: 30px;
    margin: 8px 15px 8px auto;
    /* transform: rotate(180deg); */
    float: right;
}

.all-items{
    overflow: scroll;
    margin-top: 20px;
}
.each-item{
    display: block;
    border: 2px solid rgb(13, 97, 13);
    border-radius: 10px;
    margin-bottom: 15px;
}

.tab_bar{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.tab_bar button {
    flex: 1;
    font-size: 15px;
}