.container {
	background-image: url("./pics/bg1.jpg");
	margin-top: 59px;
	height: 760px;
}

body{
  margin: 0;
  padding: 0;
  /* background-color: #ffefa1; */
  background-size: cover;
}

.profile{
  width: 345px;
  height: 400px;
  background-color: #e6f3ff;
  padding: 0px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  color: black;
  font-family: monospace;
}

.profile-img{
  width: 120px;
  height: 120px;
}

.profile h2{
  font-family: monospace;
}

.profile h4{
  font-family: monospace;
}

#email-pw{
  text-align: center;
  margin: 25px 15px 0px 15px;
  line-height: 20pt;
}

 /* Styles for demonstration */
  /* .parent {
    padding: 5px;
    border: 2px solid #000;
  }
  .left,
  .right {
    padding: 3px;
    border: 2px solid red;
  }
  .center {
    margin: 0 3px;
    padding: 3px;
    border: 2px solid blue;
  } */