.parent {
    display: flex;
	/* overflow: hidden; */
    position: fixed;
	top: 0px;
	width: 100%;
	background-color: #ffcb91;
    z-index: 100;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.left,
.right {
    flex: 1;
}

.left img{
    margin: 15px auto auto 15px; /* top, right, bottom, left */
    position: absolute;
    height: 30px;
    width: 30px;
}

p.center {
    width: fit-content;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}

 /* Styles for demonstration */
  /* .parent {
    padding: 5px;
    border: 2px solid #000;
  }
  .left,
  .right {
    padding: 3px;
    border: 2px solid red;
  }
  .center {
    margin: 0 3px;
    padding: 3px;
    border: 2px solid blue;
  } */


/* top navbar */
.dropdown {
    float: right;
    /* overflow: hidden; */
    padding: 0;
    height: 59px;
  }
  
.dropdown #dropbtn {
    float: right;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    /* padding: 14px 16px; */
    background-color: #ffcb91;
    border: 2px solid #ffcb91;
    /* #66b8ff; */
    font-family: inherit;
    margin-right: 15px;
    height: 100%;
}

#dropbtn img {
    border-radius: 20px;    
}

.dropdown:hover #dropbtn, #dropbtn:focus {
    /* background-color: red; */
}

.dropdown-content {
    display: none;
    float: none;
    position: absolute;
    top: 59px;
    right: 20px;
    background-color: #ffcb91;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    opacity: 0.8;
    z-index: 10;
}

.dropdown-content hr {
    margin: 3px auto;
    border-top: 1px solid black;
}

.dropdown-content a {
    float: none;
    width: 100px;
    height: 40px;
    color: black;
    padding: 7px 10px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 18px;
}

.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown-content a:hover {
    background-color: lightgreen;
}

/* .dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
} */